body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f8f6f6; /* Added background color */
  }
  
#videoBackground {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1; /* Ensure the video stays in the background */
    overflow: hidden;
  }
 /* styles.css */

 .logo {
    color: white; /* Set text color to white */
    position: fixed; /* Adjust position */
    padding: 36px;
    top: 20px; /* Adjust as needed */
    left: 20px; /* Adjust as needed */
    z-index: 100;
  }  

  .logo a {
    text-decoration: none; /* Remove underline */
    color: white; /* Set text color to white */
    font-size: 24px; /* Adjust font size as needed */
    font-weight: bold; /* Adjust font weight as needed */
  }
  
  
  header nav {
    position: fixed;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3); /* Added transparent background color */
    border-radius: 10px; /* Optional: Adds rounded corners to the navigation box */
    padding: 36px 36px 20px;
    z-index: 20;
  }

header nav .toggle {
    display: none;
    top: 26px;
    left: 20px;
    background-color: #121212;
    border: none;
    padding: 0;
    z-index: 21;
}

header nav .toggle:focus {
    outline: none;
}

header nav.active .toggle span {
    background-color: #000;
}

header nav .toggle.active {
    left: 32%;
}

header nav .toggle.active .first {
    top: 16px;
    transform: rotate(-45deg);
}

header nav .toggle.active .last {
    top: 0;
    transform: rotate(45deg);
}

header nav .toggle .hide {
    transition: 0s;
    visibility: hidden;
}

header nav .toggle span {
    display: block;
    width: 30px;
    height: 2px;
    border-radius: 40px;
}

header nav .toggle span:not(:last-of-type) {
    margin-bottom: 6px;
}

header nav .logo {
    flex-basis: 56%;
    padding-left: 50px;
}

header .navigation-bar.show {
    width: 40%;
}

header .navigation-bar.show a {
    color: #ccc !important;
}

header .navigation-bar.show a:hover {
    color: #0a0a0a !important;
}

header .navigation-bar ul li {
    display: inline-block; /* Change to display horizontally */
    padding: 0 10px;
}

header .navigation-bar a {
    text-decoration: none;
    transition: all .5s;
    font-size: 16px;
    color: white; /* Set text color to white */
}

header nav.active .navigation-bar a {
    color: #000;
}

header .navigation-bar .underline {
    height: 2px;
    width: 0;
    left: 50%;
    bottom: -4px;
    transition: all .3s;
    display: block;
}

header .text {
    top: 24%;
}

header .text h1 {
    margin-bottom: 0;
}

header .text span {
    font-family: "Source Code Pro", sans-serif;
    font-size: 15px;
    margin-bottom: 12px;
}

  #restaurantHeading {
    text-align: center;
    background-color: #fff;
    padding: 10px;
    position: fixed;
    width: 200px; /* Adjust the width as needed */
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    z-index: 9999;
    border-radius: 20px; /* Make the heading box doodle-shaped */
  }
  
  #motto {
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    margin-bottom: 10px;
    color: #000;
  }
  
  #aboutUsContent {
    margin-top: 100px; /* Adjust the top margin as needed */
    padding: 20px;
    z-index: 1; /* Ensure the content stays above the video */
  }
  
  .section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .section .text {
    max-width: calc(50% - 20px); /* Adjust for the padding */
    color: #000;
    background-color: rgba(255, 255, 255, 0.8); /* Transparent background */
    padding: 15px;
    border-radius: 10px;
  }
  
  .section h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .section p {
    font-size: 16px;
    line-height: 1.6;
  }

  header .navigation-bar a:hover {
    color: #556B2F; /* Change to desired hover color */
}

header .navigation-bar .active a {
    color: #556B2F; /* Change to desired active color */
}


  /* Footer */
footer {
    background-color: rgba(0, 0, 0, 0.8); /* Transparent black */
    color: white; /* Text color */
    padding: 10px; /* Adjust padding */
    box-sizing: border-box;
    text-align: center;
  }
  
  footer .copyright {
    margin-top: 10px; /* Adjust margin */
  }
  
  footer .copyright ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  /* Align text in info1 to the left */
  footer .copyright .info1 li {
    text-align: center;
  }
  
  /* Align text in info2 to the center */
  footer .copyright .info2 li {
    text-align: left;
  }
  
  /* Align text in info3 to the right */
  footer .copyright .info3 li {
    text-align: right;
  }
  
  /* Style links */
  footer .copyright ul li a {
    color: white;
    text-decoration: none;
  }
  
  

  