/* CSS for container and its children */
body {
    background-color: #556B2F;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    border-radius: 8px;
    color: #000000; /* Text color inside the container */
}

.booking-info {
    width: 48%;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #ffffff; /* Light and transparent shade of #556B2F */
    border-radius: 8px;
    box-sizing: border-box;
}

.booking-form {
    width: 48%;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #ffffff; /* Light and transparent shade of #556B2F */
    border-radius: 8px;
    box-sizing: border-box;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea,
#occasion{
    width: calc(100% - 16px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* CSS for submit button */
.booking-form button[type="submit"] {
    background-color: #556B2F;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: calc(50% - 10px);
    float: left; /* Align to the left */
}

.booking-form button[type="submit"]:hover {
    background-color: darkgoldenrod;
}

/* CSS for cancel button */
.booking-form .cancel-btn {
    background-color: #556B2F;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: calc(50% - 10px);
    float: right; /* Align to the right */
}

.booking-form .cancel-btn:hover {
    background-color: darkgoldenrod;
}
