body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f8f6f6 url('https://res.cloudinary.com/dxc6teqec/image/upload/v1716120819/adorable-couple-sitting-cafe_hfa6nd.jpg') no-repeat center center fixed; /* Added background image */
    background-size: cover;
  }
  
 /* styles.css */

 .logo {
    color: white; /* Set text color to white */
    position: fixed; /* Adjust position */
    padding: 36px;
    top: 20px; /* Adjust as needed */
    left: 20px; /* Adjust as needed */
    z-index: 100;
  }  

  .logo a {
    text-decoration: none; /* Remove underline */
    color: white; /* Set text color to white */
    font-size: 24px; /* Adjust font size as needed */
    font-weight: bold; /* Adjust font weight as needed */
  }
  
  
  header nav {
    position: fixed;
    top: 0;
    right: 0;
    padding: 36px 36px 20px;
    z-index: 20;
    background: rgba(0, 0, 0, 0.3); /* Added transparent background color */
    border-radius: 10px; /* Optional: Adds rounded corners to the navigation box */
  }
  

header nav .toggle {
    display: none;
    top: 26px;
    left: 20px;
    background-color: #121212;
    border: none;
    padding: 0;
    z-index: 21;
}

header nav .toggle:focus {
    outline: none;
}

header nav.active .toggle span {
    background-color: #000;
}

header nav .toggle.active {
    left: 32%;
}

header nav .toggle.active .first {
    top: 16px;
    transform: rotate(-45deg);
}

header nav .toggle.active .last {
    top: 0;
    transform: rotate(45deg);
}

header nav .toggle .hide {
    transition: 0s;
    visibility: hidden;
}

header nav .toggle span {
    display: block;
    width: 30px;
    height: 2px;
    border-radius: 40px;
}

header nav .toggle span:not(:last-of-type) {
    margin-bottom: 6px;
}

header nav .logo {
    flex-basis: 56%;
    padding-left: 50px;
}

header .navigation-bar.show {
    width: 40%;
}

header .navigation-bar.show a {
    color: #ccc !important;
}

header .navigation-bar.show a:hover {
    color: #0a0a0a !important;
}

header .navigation-bar ul li {
    display: inline-block; /* Change to display horizontally */
    padding: 0 10px;
}

header .navigation-bar a {
    text-decoration: none;
    transition: all .5s;
    font-size: 16px;
    color: white; /* Set text color to white */
}

header nav.active .navigation-bar a {
    color: #000;
}

header .navigation-bar .underline {
    height: 2px;
    width: 0;
    left: 50%;
    bottom: -4px;
    transition: all .3s;
    display: block;
}

header .text {
    top: 30%;
}

header .text h1 {
    margin-bottom: 0;
}

header .text span {
    font-family: "Source Code Pro", sans-serif;
    font-size: 15px;
    margin-bottom: 12px;
}

/* Menu Section */
#menuContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  color: white;
}

.section {
  width: 50%;
  margin-bottom: 20px;
  text-align: center;
  background: rgba(0, 0, 0, 0.3); /* Added transparent background color */
  border-radius: 10px; 
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three items in a row */
  gap: 20px;
  justify-items: center;
}

.menu-item {
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  max-width: 200px;
  text-align: center;
  color: white;
}

.menu-item img {
  width: 150px; /* Adjust the width as needed */
  height: auto;
  border-radius: 5px;
}

.menu-info {
  margin-top: 10px;
}

.menu-info h3,
.menu-info p {
  margin: 5px 0;
}

header .navigation-bar a:hover {
    color: #556B2F; /* Change to desired hover color */
}

header .navigation-bar .active a {
    color: #556B2F; /* Change to desired active color */
}


  /* Footer */
footer {
    background-color: rgba(0, 0, 0, 0.8); /* Transparent black */
    color: white; /* Text color */
    padding: 10px; /* Adjust padding */
    box-sizing: border-box;
    text-align: center;
  }
  
  footer .copyright {
    margin-top: 10px; /* Adjust margin */
  }
  
  footer .copyright ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  /* Align text in info1 to the left */
  footer .copyright .info1 li {
    text-align: center;
  }
  
  /* Align text in info2 to the center */
  footer .copyright .info2 li {
    text-align: left;
  }
  
  /* Align text in info3 to the right */
  footer .copyright .info3 li {
    text-align: right;
  }
  
  /* Style links */
  footer .copyright ul li a {
    color: white;
    text-decoration: none;
  }
  
  

  