/* Main container styles */
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #556B2F; /* Main background color */
}

/* Content container styles */
.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #556B2F;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 50%; /* Adjust as needed */
    max-width: 800px; /* Adjust as needed */
    position: relative;
}

/* Back button styles */
.back-button {
    position: absolute;
    top: 10px;
    left: 10px;
}

.back-button a {
    color: #556B2F;
    text-decoration: none;
}

.back-button a:hover {
    color: darkgoldenrod;
}

/* Functionality container styles */
.functionality-container {
    padding: 20px;
    font-family: Arial, sans-serif; /* Use the same font as the popup */
    flex: 1;
}

.functionality-container h2 {
    font-size: 24px;
    margin-bottom: 20px; /* Increase spacing between header and paragraph */
}

.functionality-container p {
    margin-bottom: 20px; /* Increase spacing between paragraphs */
}

/* Form styles */
#sittingspaceForm {
    display: grid;
    grid-template-columns: max-content auto; /* Two columns: one for labels, one for inputs */
    grid-row-gap: 10px; /* Gap between rows */
    align-items: center; /* Center items vertically */
    border: 2px solid #556B2F; /* Dark outer border color */
    padding: 20px;
    border-radius: 10px;
}

/* Form input styles */
#sittingspaceForm label {
    grid-column: 1; /* Labels in the first column */
}

#sittingspaceForm input[type="radio"] {
    grid-column: 2; /* Radio buttons in the second column */
    margin-left: 10px; /* Add space between radio buttons */
}

/* Button styles */
.button {
    padding: 10px; /* Adjust padding */
    margin: 0 10px; /* Add spacing between buttons */
    border: none;
    border-radius: 5px;
    background-color: #556B2F;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: darkgoldenrod;
}

/* Image container styles */
.image-container {
    width: 50%; /* Adjust to occupy 50% of the screen width */
    height: auto;
    border-radius: 10px 0 0 10px;
    object-fit: cover;
}

.image-container img {
    width: 100%; /* Make the image fill up the entire width of its container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 0 10px 10px 0;
}
